{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/src/shared(?:/(.*))?$",
    "^@/src/entities(?:/(.*))?$",
    "^@/src/features(?:/(.*))?$",
    "^@/src/widgets(?:/(.*))?$",
    "^@/src/app(?:/(.*))?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false
}
